body{
    background-color: #dde0e0;
}

/* For top images buttons section start */

.topimages:hover {transition: transform 0.3s ease-in-out;       /* For top 2 images in a row */
    transform: scale(1.2);
}

/* For top images buttons section end */



/* For nav bar buttons section start */

.btn:hover {background-color: rgb(43, 225, 43);}

.btn:focus-visible{background: rgb(43, 225, 43);}       /* for buttons if using tab button */

/* For nav bar buttons section end */



/* For all images secction start */

.img1 {
    border: 3px solid red;
    cursor: pointer;}

.img1:hover { border-color: black ;}

/* For all images secction end */



/* disable the link in quick link start */

a.disabled {
    /* Make the disabled links grayish*/
    color: gray;
    /* And disable the pointer events */
    pointer-events: none;
  }
  
/* disable the ink in quick link end */







.bottom:hover {background-color: white; color: gray;}      /* for the contact button at the bootom of the page */